* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen" , sans-serif;
}

.navbar .navbar-container .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .navbar-container .logo .lg {
  font-family: "Sen" , sans-serif;
  font-size: 30px;
  color: #4dbf00;
}

.navbar .navbar-container .menu {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.navbar .navbar-container .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar .navbar-container .menu .list .item {
  margin-right: 30px;
}

.navbar .navbar-container .menu .list .item.active {
  font-weight: bold;
}

.navbar .navbar-container .profile-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-container .profile-container .profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar .navbar-container .profile-container .profile-text-container {
  margin: 0 20px;
}

.navbar .navbar-container .profile-container .toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.navbar .navbar-container .profile-container .toggle .fas {
  color: goldenrod;
}

.navbar .navbar-container .profile-container .toggle .ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: 1px;
  cursor: pointer;
}

.sidebar {
  width: 50px;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}

.sidebar .fas {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.container .content {
  margin-left: 50px;
}

.container .content .featured {
  height: 50vh;
  padding: 50px;
}

.container .content .featured .title {
  width: 200px;
}

.container .content .featured .desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.container .content .featured .btn {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.container .content .list-container {
  padding: 0 20px;
}

.container .content .list-container .list-wrapper {
  position: relative;
  overflow: hidden;
}

.container .content .list-container .list-wrapper .movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container .content .list-container .list-wrapper .movie-list .movie-item {
  margin-right: 30px;
  position: relative;
}

.container .content .list-container .list-wrapper .movie-list .movie-item:hover .item-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.container .content .list-container .list-wrapper .movie-list .movie-item .item-img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .content .list-container .list-wrapper .movie-list .movie-item .item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container .content .list-container .list-wrapper .movie-list .movie-item .item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  opacity: 0;
  width: 230px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container .content .list-container .list-wrapper .movie-list .movie-item .item-btn {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10%;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container .content .list-container .list-wrapper .movie-list .movie-item:hover .item-title,
.container .content .list-container .list-wrapper .movie-list .movie-item:hover .item-desc,
.container .content .list-container .list-wrapper .movie-list .movie-item:hover .item-btn {
  opacity: 1;
}

.container .content .list-container .list-wrapper .fas {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */